<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSNPSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MSNPSharp.Properties.Settings>
            <setting name="MSNPSharp_MSNP13SharingService_SharingService"
                serializeAs="String">
                <value>https://contacts.msn.com/abservice/SharingService.asmx</value>
            </setting>
            <setting name="MSNPSharp_MSNABSharingService_SharingService"
                serializeAs="String">
                <value>https://contacts.msn.com/abservice/SharingService.asmx</value>
            </setting>
            <setting name="MSNPSharp_OIMStoreService_OIMService" serializeAs="String">
                <value>https://ows.messenger.msn.com/OimWS/oim.asmx</value>
            </setting>
        </MSNPSharp.Properties.Settings>
    </applicationSettings>
</configuration>